h1{
    color: red;
    padding: 20px 30px;
    background: white;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all linear 0.3s;
}
h1:hover{
    color: palevioletred;
}
*{
    background: #292929;
    box-sizing: border-box;
}